body {
  background-color: #F8B195;
  background-repeat: no-repeat;
  width: 800px;
  margin: 0 auto;
}

div.content {background-color: white;
padding: 20px;
margin: 20px;
line-height: 30px;
border: solid black 2px;}


a, a:hover, a:visited {
color: black;
text-decoration: none;
}
